.navbar-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background-color: #01d1d1;
  display: flex;
  align-items: center;
}
.navbar-logo h1 {
  margin: 0;
  font-size: 1.5rem;
}
.navbar-main {
  margin-left: 1.5rem;
}
.navbar-main ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar-main li {
  margin: 0 1rem;
}
.navbar-main a {
  text-decoration: none;
  color: #000000;
}
.navbar-main a:hover,
.navbar-main a:active,
.navbar-main a.active {
  color: #f8e264;
}
